<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
ADD
<form action="add" method="post">
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                <input type="text" name="name">
            </td>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                input information
<!--                <input type="text" name="name">-->
            </td>
        </tr>
    </table>
    <button type="submit"> ADD</button>
</form>
</body>
</html>