<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Редактирование кабинета</title>
</head>
<body>
<div align="center">
    <div>
        <br>
        <a href="cabinets">Вернуться к списку кабинетов</a>
    </div>
    <h3>
        Редактировать кабинет
    </h3>
    <div>
        <form action="cabinets-update" method="post" th:object="${cabinet}">
            <input type="hidden" th:field="*{id}">
            <table border="1">
                <tr>
                    <td>
                        Номер кабинета
                    </td>
                    <td>
                        <input type="number" name="number" th:field="*{number}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Название кабинета
                    </td>
                    <td>
                        <input type="text" name="name" th:field="*{name}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Отдел
                    </td>
                    <td>
                        <select name="department">
                            <th:block th:each="department : ${departments}">
                                <option th:value="${department.id}" th:text="${department.name}"/>
                            </th:block>
                        </select>
                    </td>
                </tr>
            </table>
            <br>
            <button type="submit">Изменить</button>
        </form>
    </div>
</div>
</body>
</html>