<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Кбинеты</title>
</head>
<body>
<div>
    <a href="main">Вернуться на главную страницу</a>
</div>
<br>
Cabinets!
<div>
    <table border="1">
        <tr>
            <th>id</th>
            <th>number</th>
            <th>name</th>
            <th>department</th>
            <th>update</th>
            <th>Удаление</th>
        </tr>
        <tr th:each="cabinet:${cabinets}">
            <td th:text="${cabinet.id}"></td>
            <td th:text="${cabinet.number}"></td>
            <td th:text="${cabinet.name}"></td>
            <td th:text="${cabinet.department.name}"></td>
            <td bgcolor="green">
                <a th:href="@{cabinets-update(id=${cabinet.id})}">Редактировать</a>
            </td>
            <td bgcolor="red">
                <a th:href="@{cabinets-delete(id=${cabinet.id})}">Удалить</a>
            </td>
        </tr>
    </table>
</div>
<br>
<br>
<div>
    <a href="cabinets-add">Добавить новый кабинет</a>
</div>
</body>
</html>