<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="main">Вернуться на главную страницу</a>
</div>
<br>
<div>
    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>update</th>
            <th>delete</th>
        </tr>
        <tr th:each="city:${cities}">
            <td th:text="${city.id}"></td>
            <td th:text="${city.name}"></td>
            <td bgcolor="green">
                <a th:href="@{update(id=${city.id})}">Update</a>
            </td>
            <td bgcolor="red">
                <a th:href="@{delete(id=${city.id})}">Delete</a>
            </td>
        </tr>
    </table>
</div>

<div>
    <a href="add">Add new city</a>
</div>

</body>
</html>