<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление отдела</title>
</head>
<body>
<div align="center">
    <div>
        <br>
        <a href="departments">Вернуться к списку отделов</a>
    </div>
    <h3>
        Добавление нового отдела
    </h3>
    <div>
        <form action="departments-add" method="post">
            <table border="1">
                <tr>
                    <td>
                        Название отдела
                    </td>
                    <td>
                        <input type="text" name="name">
                    </td>
                </tr>
            </table>
            <br>
            <button type="submit">Добавить</button>
        </form>
    </div>
</div>
</body>
</html>