<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
ADD Department
<form action="departments-add" method="post">
    <table align="center">
        <tr>
            <td>
                Name
            </td>
            <td>
                <input type="text" name="name">
            </td>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                input information
                <!--                <input type="text" name="name">-->
            </td>
        </tr>
    </table>
    <br>
    <br>
    <button type="submit"> ADD Department</button>
</form>
</body>
</html>