<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление отдела</title>
</head>
<body>
<div align="center">
    Добавление нового отдела
    <br>
    <a th:href="departments">Отмена</a>
    <br>
    <br>
    <form action="departments-add" method="post">
        <table border="1">
            <tr>
                <td>
                    Название отдела
                </td>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
        </table>
        <br>
        <br>
        <button type="submit"> Добавить новый отдел </button>
    </form>
</div>
</body>
</html>