<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<div align="center">
    Привет мир!!
    <div>
        <br>
        <table>
            <tr>
                <td width="170" align="center">
                    <a href="departments">
                        <h1>
                            Отделы
                        </h1>
                    </a>
                </td>
                <td width="10"></td>
                <td width="170" align="center">
                    <a href="cabinets">
                        <h1>
                            Кабинеты
                        </h1>
                    </a>
                </td>
            </tr>
            <tr>
                <td width="170" align="center">
                    <a href="computers">
                        <h2>
                            Системники
                        </h2>
                    </a>
                </td>
                <td width="10"></td>
                <td width="170" align="center">
                    <a href="monitors">
                        <h2>
                            Мониторы
                        </h2>
                    </a>
                </td>
            </tr>
            <tr>
                <td width="170" align="center">
                    <a href="printers">
                        <h2>
                            Принтеры
                        </h2>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
<br>

</body>
</html>