<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<div align="center">
    <div>
        <br>
        <table>
            <tr>
                <td align="center">
                    <a href="departments">
                        <h1>
                            Отделы
                        </h1>
                    </a>
                </td>
                <td>
                    <form method="post" enctype="multipart/form-data" action="/upload-file-department">
                        <table>
                            <tr>
                                <td>Загрузить из файла:</td>
                                <td><input type="file" name="fileDepartments" accept="text/csv"></td>
                                <td><input type="submit" value="Загрузить"></td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <a href="cabinets">
                        <h1>
                            Кабинеты
                        </h1>
                    </a>
                </td>
                <td>
                    <form method="post" enctype="multipart/form-data" action="/upload-file-cabinet">
                        <table>
                            <tr>
                                <td>Загрузить из файла:</td>
                                <td><input type="file" name="fileCabinets" accept="text/csv"></td>
                                <td><input type="submit" value="Загрузить"></td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <a href="computers">
                        <h2>
                            Системники
                        </h2>
                    </a>
                </td>
<!--                <td>-->
<!--                    <form method="post" enctype="multipart/form-data" action="uploadComputers">-->
<!--                        <table>-->
<!--                            <tr>-->
<!--                                <td>Загрузить из файла:</td>-->
<!--                                <td><input type="file" name="fileComputers" accept="text/csv"></td>-->
<!--                                <td><input type="submit" value="Загрузить"></td>-->
<!--                            </tr>-->
<!--                        </table>-->
<!--                    </form>-->
<!--                </td>-->
            </tr>
            <tr>
                <td align="center">
                    <a href="monitors">
                        <h2>
                            Мониторы
                        </h2>
                    </a>
                </td>
<!--                <td>-->
<!--                    <form method="post" enctype="multipart/form-data" action="uploadFileMonitors">-->
<!--                        <table>-->
<!--                            <tr>-->
<!--                                <td>Загрузить из файла:</td>-->
<!--                                <td><input type="file" name="fileMonitors" accept="text/csv"></td>-->
<!--                                <td><input type="submit" value="Загрузить"></td>-->
<!--                            </tr>-->
<!--                        </table>-->
<!--                    </form>-->
<!--                </td>-->
            </tr>
            <tr>
                <td align="center">
                    <a href="printers">
                        <h2>
                            Принтеры
                        </h2>
                    </a>
                </td>
<!--                <td>-->
<!--                    <form method="post" enctype="multipart/form-data" action="uploadFilePrinters">-->
<!--                        <table>-->
<!--                            <tr>-->
<!--                                <td>Загрузить из файла:</td>-->
<!--                                <td><input type="file" name="filePrinters" accept="text/csv"></td>-->
<!--                                <td><input type="submit" value="Загрузить"></td>-->
<!--                            </tr>-->
<!--                        </table>-->
<!--                    </form>-->
<!--                </td>-->
            </tr>
        </table>
    </div>
</div>
</body>
</html>