<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление принтера</title>
</head>
<body>
<div align="center">
    <div>
        <br>
        <a href="printers">Вернуться к списку принтеров</a>
    </div>
    <h3>
        Добавление нового принтера
    </h3>
    <div>
        <form action="printers-add" method="post">
            <table border="1">
                <tr>
                    <td>Номер инвентарный</td>
                    <td>
                        <input type="text" name="inventoryNumber">
                    </td>
                </tr>
                <tr>
                    <td>Номер серийный</td>
                    <td>
                        <input type="text" name="serialNumber">
                    </td>
                </tr>
                <tr>
                    <td>В каком кабинете находится</td>
                    <td>
                        <select name="cabinet">
                            <th:block th:each="cabinet : ${cabinets}">
                                <option th:value="${cabinet.id}" th:text="${cabinet.number}"/>
                            </th:block>
                        </select>
                    </td>
                </tr>
            </table>
            <br>
            <button type="submit">Добавить</button>
        </form>
    </div>
</div>

</body>
</html>